<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Addlnotes:</strong>
  <%= @customer.addlnotes %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<hr>
Here are the past orders of this customer:
<table>
  <thead>
    <tr>
     <th>Sale date</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |o| %>
      <tr>
        <td><%= o.saledate %></td>
        <td><%= o.salenotes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
…
<%= link_to 'Back', :back %>

